@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

:root {
  --background: #0d1b2a; /* Dark Navy */
  --primary: #1b263b; /* Navy Blue */
  --secondary: #415a77; /* Steel Blue */
  --accent: #778da9; /* Light Slate Gray */
  --highlight: #e0e1dd; /* Light Gray for text and highlights */
  --page-background: #ededed; /* Light Gray for page background */
  --white: #ffffff;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body,
* {
  font-family: 'Sono', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--page-background);
  font-weight: 300;
}

h1 {
  color: var(--accent);
  font-weight: 600;
}

button {
  padding: 16px 16px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: var(--secondary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  background-color: var(--primary);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: solid 1px var(--accent);
}

.content-area {
  background-color: var(--white);
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
